<nav class="navbar navbar-expand-lg bg-dark">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="navbar-nav">
				<a class="nav-link text-light" aria-current="page" href="/">Home</a>
				<a class="nav-link text-light" href="/salespeople">Salespeople</a>
				<a class="nav-link text-light" href="/products">Products</a>
				<a class="nav-link text-light" href="/customers">Customers</a>
				<a class="nav-link text-light" href="/sales">Sales</a>
				<a class="nav-link text-light" href="/sales-report">Commission Report</a>
			</div>
		</div>
	</div>
</nav>